@use 'resets';
@use 'misc' as *;
@use 'mixins' as mix;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
   font-family: 'Nunito Sans', sans-serif;
   background: map-get($colors, 'very-light-gray');
   min-height: 100vh;
}

.list--invisible {
   transform: translateY(-50%) scaleY(0);
   pointer-events: none;
}

.invisible {
   opacity: 0 !important;
}

.navbar {
   @include mix.flex($justify: space-between);
   background-color: map-get($colors, 'white');
   padding: 2rem 1rem;
   box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);

   .theme-switcher-container {
      cursor: pointer;
      position: relative;
      transition: all .3s;

      .theme-icon {
         left: -25px;
         top: 3px;
         position: absolute;
      }
   }

   h1 {
      font-size: 1.3rem;
   }
}

.app {
   padding: 2rem;
   transition: all .3s;
   max-width: 1274px;
}

.search-bar {
   @include mix.flex($justify: start);
   background-color: map-get($colors, 'white');
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   gap: 2rem;
   padding: 1rem 2rem;

   .fa-search {
      color: rgb(180, 180, 180);
   }

   .search {
      width: 80%;
      font-size: .9rem;

      &::placeholder {
         color: rgb(200, 200, 200);
      }
   }
}

.region-selector-container {
   background: map-get($colors, 'very-light-gray');
   position: relative;
   margin-top: 2.1rem;
   width: 60%;
   cursor: pointer;

   .region__selector {
      padding: .8rem 1.6rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background: map-get($colors, 'white');
      @include mix.flex($justify: space-between);

      .fa-angle-down:before {
         vertical-align: -3px;
      }
   }

   .regions__list {
      position: absolute;
      width: 100%;
      padding: 1rem 0;
      transition: all .2s;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background: map-get($colors, 'white');
      margin-top: .5rem;

      li {
         padding: .4rem 1.6rem;
      }
   }
}

.countries {
   @include mix.grid();
   gap: 3rem;
   margin-top: 2.3rem;
   max-width: 1274px;

   .country {
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: .6rem;
      margin: 0 auto;

      .flag {
         border-radius: .6rem .6rem 0 0;
         width: 100%;
      }
   }

   .country__details {
      margin-top: -7px;
      height: 190px;
      background: map-get($colors, 'white');
      padding: 0 1.3rem;
      padding-top: 1.3rem;
      border-radius: 0 0 .6rem .6rem;

      h1 {
         font-size: 1.4rem;
         margin-bottom: 1rem;
         line-height: 1.6rem;
      }
   }
}

body.dark-mode {
   color: map-get($colors, 'white');
   background: map-get($colors, 'very-dark-blue-bg');

   .navbar,
   .country__details,
   .region-selector-container>div,
   .region-selector-container>ul,
   .search-bar,
   .search-bar>input {
      background-color: map-get($colors, 'dark-blue');
   }

   #search-country {
      color: map-get($colors, 'white');
   }
}

@media (min-width: 790px) {
   .countries {
      @include mix.grid();
      grid-template-columns: repeat(2, auto);
      gap: 3.2rem;

      .country {
         width: 283px
      }

      .flag {
         width: 100%;
         height: 190px;
      }
   }
}

@media (min-width: 1030px) {
   .countries {
      @include mix.grid();
      min-width: 986px;
      grid-template-columns: repeat(3, auto);

      .country {
         width: 293px
      }

      .flag {
         width: 100%;
         height: 200px;
      }
   }
}

@media (min-width: 1230px) {
   .app {
      padding: 2rem 4rem;
      margin: 0 auto;
   }

   .menus {
      @include mix.flex($justify: space-between);

      .region-selector-container {
         width: 180px;
         margin-top: 0;
      }

      .search-bar {
         width: 430px;
      }
   }

   .countries {
      @include mix.grid();
      grid-template-columns: repeat(4, auto);

      .country {
         width: 246px;
      }

      .flag {
         width: 246px;
         height: 153.39px;
      }
   }
}

@media (min-width:1441px) {
   body {
      @include mix.grid();
   }

   main {
      max-width: 1440px;
      box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.7);
   }
}